body{
    margin:0px;
    padding:0px;
    background-color: #011627; 
    color: #fdfffd; 
    text-align: center;
    background-image: url("https://www.shutterstock.com/image-vector/abstract-white-background-modern-design-600nw-2478912715.jpg");

}

h1{
    font-size:45px;
    color: black;
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: #fff;
    color: black; 
}

.btn:hover{
    background-color: yellow;
    cursor: pointer;
}